.navbar__main {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  height: 50px;
  align-items: center;
  padding: 1rem;
  /* flex-direction: column; */
}

.nav a {
  margin: 10px;
  color: rgb(54, 43, 43);
  font-size: 20px;
}
.nav a:hover{
    color:lime
}
.nav {
    display: flex;
  }
.toggle{
    position:absolute;
    right: 1rem;
    display: none;
}


@media (max-width: 768px) {
  .nav {
    /* display: none; */
  }
  .toggle{
    position:absolute;
    right: 1rem;
    display: block;
}
  .navbar__main {
    align-items: flex-start;
    height: 50px;

    flex-direction: column;
  }
  .nav {
      width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
background: rgb(207, 138, 138);
  }
}
