* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* transition:all 6s; */
}
:root {
  --body-color: #f8f5fc;
  --primary-color: #8A39E1;
  /* text */

  --text-color: #000;
  --sec-color: #ddd;

  --shadow-color: #red;
}
